# Setup alias file
#alias ls='ls $LS_OPTIONS'
alias ls='ls --color'
alias grep='grep --color'
alias egrep='egrep --color'
alias du="du -hs"
alias ff="find . -name"
#alias vi="vim"
alias po="ps o user,pid,%cpu,%mem,cmd k -%cpu"
alias envzh='env LC_MESSAGES=zh_TW.UTF-8'
alias sudu='sudo -k'
alias rhash='hash -r'
alias httpget="wget -r -np -d"
alias tree-find="find ./ -type d | sed -e 's/[^-][^\/]*\//--/g;s/--/ |-/'"
alias tree-ls="ls -R | grep \":$\" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/   /' -e 's/-/|/'"
#alias ssh='ssh -o StrictHostKeyChecking=no"
viu+x() { vi $1; chmod u+x $1; }
search_library() { for LIBS in $(ls $2); do echo $LIBS; nm $LIBS | grep $1; echo; done; }
alias search_library_help="echo 'search_library _daxpy *'"
find-grep() { find -maxdepth `expr $3 + 5` -name "$2*" -exec grep -P -inH --color "$1" {} \;; }
alias find-grep_help="echo 'find-grep PATTERN filename [1]'"