#
# Modified date: 2011/11/18
#

# Display the  copyright  notice  during  startup
startup_message off

# Set scrollback line
defscrollback 1024

# Set default encoding using utf8
defutf8 on

# Set visual bell
vbell on

# Set split status always on
caption splitonly "%{= bK} %{= bG} [%n] %t @ %H"

# Set hardstatus always on
hardstatus alwayslastline "%{= WK} %-Lw%{= KY}%n%f %t%{-}%+Lw %{= WM} %=| %0c:%s  %Y-%m-%d"

# Set default screen
#screen -t bash 0 /bin/bash
#screen -t tcsh 1 /bin/tcsh
#screen -t ipython 2 /usr/bin/ipython

# For I/O monitor
#screen -t iostat 1 /usr/bin/iostat -xk 1
#screen -t sar 2 /usr/bin/sar -bB -n DEV 1
#screen -t vmstat 3 /usr/bin/vmstat -a 1
#screen -t vmstat 4 /usr/bin/vmstat -d 1
#screen -t pidstat 5 /usr/bin/pidstat -d 1

# Define bindkey
bindkey ^[s split      # split region
#bindkey ^[v split -v   # split region
bindkey ^[o only       # detach all regrion but keep current region
bindkey ^[t focus      # switch input focus region

bindkey ^[[ copy       # copy region to buffer
bindkey ^[] paste .    # paste region from buffter

bindkey ^[r remove     # remove region
bindkey ^[k focus up   # previous region
bindkey ^[j focus down # next region
bindkey ^[\" windowlist # select window list
bindkey ^[= resize +1  # increase region size
bindkey ^[- resize -1  # decrease region size

bindkey ^[c screen     # create screen
bindkey ^[a title      # setup screen title
bindkey ^[L next       # next screen
bindkey ^[H prev       # previous screen

bindkey ^[* displays   # list all attach session
bindkey ^[d detach     # detach session
bindkey ^[q quit       # quit session